<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ayusahnaz.learningstyleapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:icon="@drawable/ic_home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultActivity"
            android:icon="@drawable/ic_home"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Processing"
            android:icon="@drawable/ic_processing"
            android:label="@string/pro"
            android:theme="@style/CustomPopUp" >
        </activity>
        <activity
            android:name=".Perception"
            android:icon="@drawable/ic_perception"
            android:label="@string/per"
            android:theme="@style/CustomPopUp" >
        </activity>
        <activity
            android:name=".Input"
            android:icon="@drawable/ic_input"
            android:label="@string/per"
            android:theme="@style/CustomPopUp" >
        </activity>
        <activity
            android:name=".Understanding"
            android:icon="@drawable/ic_understanding"
            android:label="@string/und"
            android:theme="@style/CustomPopUp" >
        </activity>
        <activity
            android:name=".TeacherDisplay"
            android:icon="@drawable/ic_home"
            android:label="@string/title_activity_teacher_display" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeacherResult"
            android:icon="@drawable/ic_home"
            android:label="@string/title_activity_teacher_result" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:icon="@drawable/ic_home"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
